
body{
        background-color:#eee;
    }
.PageWrapper{
    max-width:800-x; margin:auto; background-color: white; padding:10px;
}
.Sanserif{
    font-family:Arial, Helvetica, sans-serif
}
p.dotted {border-style: dotted;}