
body{
        background-color:rgb(255, 255, 255);
        margin-left:150px;
        margin-right:150px;
    }
.right{
    float: right;
    width: 300px
}
.PageWrapper{ 
    background-color: blue; 
    padding:10px;
    margin-left:150px;
    float: center;
}
.Sanserif{
    font-family:Arial, Helvetica, sans-serif,'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif
}
.monospace{
    font-family:'Courier New', Courier, monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif,
}
p.dotted {
    border-style: dotted;
}
h1{
    word-spacing:15px;
    font-family:'Gill Sans';
    color: #82b7d8; 
    background-color: #ffffff; 
    padding:5px;
    float:center;
}
/* The nav bar container*/
.topnav{
    overflow: hidden;
    background-color: white;
    text-align: center;

}
/* Navbar links */
.topnav a {
    display: block;
    color: black;
    padding:14px 16px;
    text-decoration: none;
    float:left;
}
/* Links- change color on hover*/
.topnav a:hover {
    background-color: #ffffff;
    color: #b5b5b5
}
/*Style the "active" element to highlight the current page*/
.topnav a.active{
    background-color: #ffffff;
    color: #b5b5b5
}
.topnav input[type=text]{
    float:right;
    padding:6px;
    border: none;
    margin-top:8px;
    margin-right: right 16px;
    font-size:14px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4
}
.topnav-right{
    float:right
}
h2{
    Text-align:left;
    font-size:20px;
    font-family: 'lucida grande', 'lucida sans','arial', 'san-serif';
}
ul{
    text-align:center;
    font-size:15px;
    font-family: 'lucida grande';
}
h1{
    word-spacing:15px;
    font-family:'Gill Sans';
    font-size: 4vw;
    font:size 5vw; 
    color: #82b7d8; 
    background-color: #ffffff; 
    padding:5px;
    text-align:left;
    margin-left:150px;
}
.smallcolumn{
    float:right;
    width:25%;
    font-family:'lucida grande'
}
.column-left{
    width: 75%
}
.footer{
    background-color: #fcbe41;
    padding:20px;
    width:100%;
    height: 4cm;
}
input{
    font-style:'lucida grande'
}
.bordertop{
    border-top-style: solid;
    border-width: 1px;
    padding:5px;
    margin-right:150px;
    margin-left:150px;
    border-color:#c4c4c4
}



.fakeimg{
    background-color:#c5c5c5;
    padding: 20px;
    margin-top: 20px;
    height: 300px;
    width: 600px;
    Float: center;
}
/* Add a card effect for articles*/
.card{
    background-color;
    padding:20px;
    margin-top:20px;
    border-color: #b5b5b5;
    margin-right: 150px;
    margin-left: 150px;
}
ul{
    float: center; 
    font-family: 'Lucida Grande';
    font-size: 14px;
}
.h2italic{
    font-style:italic;
    text-align:center;
}
.searchbutton{
    float:right
}
h3{
    text-align:left;
    font-family: 'lucida grande';
    margin-left:2cm
}
.p1{
    text-align: left;
    font-family: 'lucida grande';
    margin-right: 14cm;
    font-size:12px;
}
p{
    font-family: 'lucida grande';
    font-size:14px;
}
.divbig{
    height:200px;
    background-color:white 
}
.halfcolumn{
    float:left;
    width:50%
}
.photo{
    background-image:url(test.jpg);
    width:600px;
    height:450px;
}
.img p{
    font-family:'lucida grande';
    color: white;
    
}
